body {
  padding: 1%;
  background-color: #759aea88;
}
.title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;

  img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}
h2 {
  font-size: 30px;
}
.wrap {
  width: 500px;
  padding: 30px 25px;
  margin: 0 auto;
  background-image: url('../img/thumb__693_0_0_0_auto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.weather-input {
  display: flex;
  justify-content: space-between;
  width: 84%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
}
select {
  width: 50%;
  height: 38px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  padding: 0 10px;
  font-size: 21px;
  cursor: pointer;
}
.cityName {
  margin: 10px 20px 20px 20px;
  font-size: 35px;
  font-weight: 600;
}
p {
  font-size: 20px;
  font-weight: 600;
}
.spinner-grow {
  position: absolute;
}
#weather-info {
  text-align: center;
}
.btn {
  height: 38px;
  font-size: 20px;
  outline: none;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
