body {
  font-size: 18px;
  padding-top: 40px;
}
.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
#todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}
input {
  font-size: 18px;
  padding: 10px 20px 10px 5px;
  width: 100%;
  margin-right: 10px;
}
.btnAdd {
  font-size: 18px;
  background-color: rgb(26, 193, 26);
  border: none;
  padding: 0px 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
}
.deleteBtn {
  cursor: pointer;
  background-color: red;
  border: none;
  padding: 10px 20px;
}
.editBtn {
  cursor: pointer;
  background-color: rgb(255, 174, 0);
  border: none;
  padding: 10px 20px;
}
.add-task {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.doneBtn {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  background-color: transparent;
  color: green;
  border: none;
  padding: 0px 20px;
}
.completed {
  text-decoration: line-through;
}
